# Exercise Four

In this set of exercises, you will use pandas to load and manipulate `chipotle.tsv`, a dataset containing orders from Chipotle Mexican Grill.  The data was sourced from the New York Times [Github page](https://github.com/TheUpshot/chipotle).

First, let's import pandas for this notebook.

In [1]:
# load the pandas library and call it pd
import pandas as pd

## 1. In The Beginning Was The Dataset

Load the data from `chipotle.tsv` into a pandas Dataframe, assigning it the variable name `chip`. Then, view the first 15 entries in your new Dataframe.

**Note:** Since this is a tab-separated file (not a CSV, which uses commas), you'll have to add the parameter `sep='\t'` to your read function.

In [ ]:
# your solution here

## 2. Summarizing The Data

Now that you have loaded the data into a pandas dataframe, it is important to see how much and what kind of data you have.

### 2.1 Shape of the Data

First things first, it is good to get an understanding of how many rows and columns are in your dataset. Use pandas to calculate the *shape* of your dataframe, that is, display how many Chipotle orders (rows) and what information you have  (columns) are in the dataset.

**Note:** There are many ways to calculate the number of rows, try a using pandas methods instead of vanilla python approaches.

In [ ]:
# your code goes here

### 2.2 A *rows* by any other name would smell as sweet

Look carefully at the rows of your data and think about the values in each column. What values or combination of values are unique? What does each row represent? Write your answer in Markdown in the cell below.

**Note**: Sometimes the thing that is unique is a combination of values in multiple columns...

*your answer here*

*Solution*

Each row represents an individual item in an specific order.

### 2.3 Summarizing Sum More

Pandas provides many helpful functions for summarizing and describing data. Using one of the pandas function calculate the most-ordered item in the data set by counting the unique values in the `item_name` column.

In [ ]:
# your solution here

## 3. The Gang Goes To Chipotle

You and your best friends all went to Chipotle and therefore a record of your order is in the dataset!

![Friends](https://upload.wikimedia.org/wikipedia/en/d/d6/Friends_season_one_cast.jpg)

Looking at the receipt you know that your order ID was 953. Lets use this information to create

### 3.1 Separate your order data

Create a new Dataframe that contains a subset of the data where the order ID equals 953. This should give you a dataframe of 8 rows (three burritos and five burrito bowls, yum!).

**Note**: Make sure to make a copy of the Dataframe so we can modify it for the next question.

In [ ]:
# your answer here

### 3.2 Add your friends to the data!

First, create a Python list of your friends, one for each item ordered in order 953. You have 8 friends (one for each item in the order in the question above). So popular!

Next, add a new column called ```friend_name``` and add the Series of your friends' as the data for that column.

**Note:** Make sure your friend order dataframe is a copy, otherwise you will get a weird error from pandas.

In [ ]:
# your code goes here

## 4. High Rollers

Some people *really* like Chipotle. Use pandas functions to see what was the most expensive order in the dataset. 

1. Split - Group the data by order ids (hint: `groupby`)
2. Apply - Calculate the sum of each group (hint: `sum`)
3. Combine - Sort the values by price and change the sort order (hint: `sort_values`)


**Hint:** You can read up on how to use the `sort_values` function in the [pandas documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html)

In [ ]:
# your code here

## 5. Let's go bowling

There are many different kinds of bowls in this dataset. Your final task will be to calculate what is the average price paid for each of the different kinds of bowls. You can answer this question in three lines of pandas code:

1. Create a mask for when the `item_name` contains the word "Bowl" (hint: chck out the vectorized string method `contains()`)
2. Create a new dataframe with a subset of the data
3. Group the data by the different types of bowls and calculate the average.

In [ ]:
# your code here